body {padding: 0; margin: 0; background-color: #000; height:100vh;color: white;} #defaultCanvas0 {margin: 0 auto; position:absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 1px); display: block !important;}

@font-face {
    font-family: 'Druk Wide';
    src: url('../fonts/Druk-Wide-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Druk Wide', 'sans-serif';
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    position: absolute;
    top: 5vh;
    left: 5vw;
}
.logo img {
    width: 50px;
    height: auto;
    vertical-align: bottom;
}
.infos {
    width: 22vw;
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    z-index: 200;
    background-color: rgba(0,0,0,0.2);
}


@media screen and (max-width: 1200px) {
    .infos {
        background-color: rgba(0,0,0,0.6);
        
        width: 40vw;
        right: unset;
        left: 5vw;
    }
}
@media screen and (max-width: 800px) {
    .infos {
        
        width: 90vw;
        right: unset;
        left: 5vw;
    }
}

.save {
    color: rgba(255,255,255,0.3);
}
.button {
    margin: 30px 0 20px;
    cursor: pointer;
    position: relative;
    padding: 20px;
    border: 3px solid white;
    display: inline-block;
}

